body{
    display: flex;
    justify-content: center;
    font-size: 30px;
    bakcground-color: green;
}

.body{
    width: 1000px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

p{
    margin-top: 40px;
}
